@import "../../libs/flex.scss";
@import "../../libs/func.scss";
@import "../../libs/config.scss";
.act-area-container {
    background-color : #fff;
    width : 100%;
    height : 100%;
    position : relative;
}
.act-area-box {
    width : 370px;
    position: absolute;
    top : 50%;
    left : 50%;

    margin-left : -185px;
    margin-top : -200px;

    @include phone {
        width : 100%;
        position : static;
        top : 0;
        left : 0;
        margin-top : 50px;
        margin-left : 0;
    }

    .tit {
        text-align : center;
        font-size : 24px;
        font-weight : normal;
    }
    .areas {
        margin-top : 50px;
        ul {
            overflow : hidden;
            @include flexbox();
            @include flex-wrap(wrap);
            li {
                text-align : center;
                font-size : 18px;
                width : 33.3%;
                margin-bottom : 16px;
                color : #262626;
                .area {
                    display : inline-block;
                    position : relative;
                }
                .ar {
                    position : relative;
                }
                .abg {
                    display : none;
                    position : absolute;
                    bottom : 0;
                    width : 100%;
                    height : 13px;
                    background-color : #57FFD1;
                }
                &.selected {
                    .abg {
                        display : block;
                    }
                }
                @include phone {
                  font-size : 12px;
                  margin-right : 20px;
                  .abg {
                    height : 6px;
                  }
                }
            }
        }
    }
    

    .act-box {
        margin-top : 150px;
        @include phone {
            margin-top : 100px;
        }
        text-align : center;
        .txt {
            color : #E6A0A7;
            font-size : 12px;
            text-align : center;
        }
        .act {
            margin-top : 10px;
            border : 0;
            font-size: 16px;
            line-height: 50px;
            width : 300px;
            height: 50px;
            background-color: #121313;
            text-align: center;
            border-radius: 2px;
            color : #fff;
        }
        .close {
            margin-top : 32px;
           display : inline-block;
           width : 16px;
           height : 16px;
           background : url("#{$img_host}/close-icon@2x.png") no-repeat 0 0;
           background-size : 16px;
        }
    }

    

}
