@import "../../libs/func.scss";
@import "../../libs/flex.scss";
@import "../../libs/config.scss";
.card-view {

    .view-content {
        .card-form {
            width : 824px;
            overflow : hidden;
            margin : 0 auto;
            @include flexbox;
            @include justify-content(space-between);
            @include pad {
                width : 728px;
            }

            @include phone {
                width : 3rem; 
                @include justify-content(center);
            }
        }

        .lf-ct {
            float : left;
            width : 504px;
            @include pad(){
                width : 409px;
            };
            @include phone(){
                display : none;
            };
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(center);
            .img-box {
                margin-top : -128px;
                text-align : center;
                .img {
                    position : relative;
                    display : inline-block;
                    text-align : left;
                    background : url("#{$img_host}/pad_empty_card@2x.jpg") no-repeat 0 0;
                    background-size : 100%;
                    width : 353px;
                    height : 205px;
                    color : #858595;
                    .card-no {
                        position : absolute;
                        top : 48px;
                        left : 28px;
                        width : 120px;
                        height : 24px;
                        font-size : 20px;
                        line-height : 24px;
                    }
                    .card-name {
                        position : absolute;
                        right : 28px;
                        top : 48px;
                        width : 120px;
                        text-align : right;
                        height : 24px;
                        font-size : 20px;
                        line-height : 24px;
                        text-overflow:ellipsis;
                        white-space : nowrap;
                        overflow : hidden;
                    }
                    .card-valid {
                        position : absolute;
                        right : 78px;
                        bottom : 32px;
                        width : 80px;
                        text-align : right;
                        height : 24px;
                        font-size : 20px;
                        line-height : 24px;
                    }
                }
                @include pad {
                    .img {
                        background : url("#{$img_host}/pad_empty_card@2x.jpg") no-repeat 0 0;
                        background-size : 100%;
                        width : 353px;
                        height : 205px;
                    }
                }
            }

        }
        .m-ct {
            overflow : hidden;
        }
        
        .info {
            padding-top : 20px;
            .tit {
                font-size : 18px;
                line-height : 1em;
            }

            .hhl {
                margin-top : 10px;
                background-color :#57FFD1;
                width : 50px;
                height : 3px;
            }
            .txt {
                margin-top : 10px;
                font-size : 14px;
                line-height : 24px;
                font-weight : lighter;
            }
        
        }

        @include phone {
            .info {
                padding-top : 20px;
            }
            .tit, .txt {
                text-align : center;
            }
            .hhl {
                margin-right : auto;
                margin-left : auto;
            }
            .inp {
                text-align : center;
            }
        }


        .card-ct {
            margin-top : 20px; 
            margin-bottom : 20px;
            .card-no {
                width : 300px;
                height : 50px;
                line-height : 50px;
                font-size : 16px;
                font-weight : bold;
                border : 1px solid #B4B4B5;
                text-align : center;
                font-family: NexaBold;
                letter-spacing: 0.8px;
                margin-bottom : 10px;

                &.selected {
                    border : 2px solid #121313;
                }
            }
            .act-box {
                margin-top : 30px;
            }
            .change .act{ 
                border : 0;
                font-size: 16px;
                line-height: 40px;
                width : 300px;
                height: 40px;
                background-color: #EAEAEA;
                text-align: center;
                color : #262626;

            
            }
        }
        .name-box {
            padding-bottom : 30px;
            .name {
                margin-top: 10px;
            }
            .inp {
                width : 300px;
                height : 50px;
                text-align : center;
            }
            .img-box {display : none};

            @include phone {
                .img-box {
                    display : block;
                    text-align : center;
                    margin-top : 20px;
                    .img {
                        background : url("#{$img_host}/phone_empty_card@2x.jpg") no-repeat 0 0;
                        background-size : 100% 100%;
                        width : 280px;
                        height : 160px;
                        position : relative;
                        color : #858595;
                        display : inline-block;
                        text-align : left;

                        .card-no {
                            position : absolute;
                            top : 36px;
                            left : 24px;
                            width : 120px;
                            height : 24px;
                            font-size : 16px;
                            line-height : 24px;
                        }
                        .card-name {
                            position : absolute;
                            right : 24px;
                            top : 36px;
                            width : 120px;
                            text-align : right;
                            height : 24px;
                            font-size : 14px;
                            line-height : 24px;
                            text-overflow:ellipsis;
                            white-space : nowrap;
                            overflow : hidden;
                        }
                        .card-valid {
                            position : absolute;
                            right : 60px;
                            bottom : 28px;
                            width : 80px;
                            text-align : right;
                            height : 24px;
                            font-size : 16px;
                            line-height : 24px;
                        }

                    }
                }
            } 
             .act-box {
                margin-top : 20px;
                text-align : center;
                .act {
                    border : 0;
                    font-size: 16px;
                    line-height: 50px;
                    width : 300px;
                    height: 50px;
                    background-color: #DBDCDC;
                    text-align: center;
                    color : #B4B4B5;
                }
                .act-use {
                    background-color: #121313;
                    color : #fff;
                }
        }

        }
    }

    
}
