@import "../../libs/flex.scss";
@import "../../libs/config.scss";
@import "../../libs/func.scss";
@import "../../libs/css3-mixins.scss";

.pay-view {


    .radio-box {
        color : #B4B4B5;
        .icon {
            text-align : center;
            .i {
                display : inline-block;
                width : 16px;
                height : 16px;
                background : url("#{$img_host}/nav_icon@2x.png") no-repeat 0 0; 
                background-size : 53px 16px;
            } 
        }
        .tt {
            line-height : 16px;
            margin-left : 10px;
        }

        &.selected {
            color : #121313;
            .icon i {
                background : url("#{$img_host}/nav_icon@2x.png") no-repeat right 0; 
                background-size : 53px 16px;
            }
        }

    }



    .pay-box {
        border-bottom : 1px solid #DBDCDC;
        padding-bottom : 20px;
        .tit {
            font-size : 14px;
            font-weight : bold;
            padding : 20px 0;
        }
    }


    .pay-dt , .pay-way {
        width : 824px;
        margin : 0 auto;
        @include pad(){
            width : 728px;
        };
        @include phone(){
            width : 300px;
        };
    
    }

    .pay-dt {
        overflow : hidden;
        .lf {
            float : left;
        }
        .rt {
            float : right;
            padding-top : 20px;
            li {
                width : 300px;
                height : 30px;
                line-height : 30px;
                border-bottom:  1px solid #DBDCDC;
                @include flexbox;
                @include justify-content(space-between);
                .t1 {
                    color : #888888; 
                }
                .t2 {

                }
            }

        }
       .prd-ct {
            width : 280px;
            .img {
                float : left;
                margin-right : 10px;
            }
            .ct {
                overflow : hidden;
                line-height : 24px;
                .tt {
                    font-size : 16px;
                    font-weight : normal;
                    em {
                        font-weight : lighter;
                    }
                }

                .txt {
                    color : #888;
                    font-weight : lighter;
                }
            }
            img {
                width : 96px;
                height : 58px;
            }
        }
    }
    .pay-amount {
        overflow : hidden;
        padding : 20px 0;
        .t1  {
            color : #888;
            float : left;
        }
        .money {
            float : right;
            font-weight : bold;
            font-size : 20px;
        }
    }
    .pay-w {
        .tt {
            font-weight : bold;
        }
        ul {
            overflow : hidden;
            margin-top : 20px;
        }
        li {
            float : left;
            width : 200px;
            height : 50px;
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            border : 1px solid #B4B4B5;
            margin-right : 20px;
            &.selected {
                border : 2px solid #121313;
                .icon i {
                    background : url("#{$img_host}/nav_icon@2x.png") no-repeat right 0; 
                    background-size : 53px 16px;
                }

            }

            .pay-icon {
                display : inline-block;
                width : 18px;
                height : 15px;
                background : url("#{$img_host}/pay_w@2x.png") no-repeat 0 0;
                background-size : 55px 15px;
                margin-right : 12px;
            }
            .radio-box {
                padding-top : 5px;
                margin-left : 20px;
            }

            &.zfb {
              .pay-icon {
                background : url("#{$img_host}/pay_w@2x.png") no-repeat right 0;
                background-size : 55px 15px;
              }
            }
            
        }
    }
    .pay-w-ct {
        margin-top : 30px;
        li {
            @include flexbox;
            @include justify-content(space-between);

            &.hide {
                display : none;
            }

        }
        .item {
            @include flex-grow(1);
            border-top : 1px solid #DBDCDC;
            background-color :  #F0F0F0;
            height : 200px;
            @include flexbox;
            @include align-items(center);
            padding : 0 20px;
            .code-img {
                @include flex-grow(0);
                @include flex-shrink(0);
                position : relative;
                overflow : hidden;
                width : 160px;
                height : 160px;
                padding : 10px;
                background-color : #fff;
                margin-right : 20px;
                &.nopad {
                    padding : 0;
                }
                iframe {
                    width : 320px;
                    height : 280px;
                    transform: scale(0.6, 0.62);
                    position: absolute;
                    top: -55px;
                    left: -88px;
                }
            }
            .txt {
                font-size : 18px;
                padding-right : 20px;
            }
        }
        .zfb {
            .item {
               width : 49%;
               @include flex-grow(0);
               img {
                margin-top : 40px;
               }
            }
        }
    }
    .pay-submit {
        display : none;
    }
    @include phone {
        .pay-w {
            ul {
                li {
                    float : none;
                    overflow : hidden;
                    border : 0;
                    border-bottom : 1px solid #DBDCDC;
                    width : 300px;
                    position : relative;
                    @include justify-content(flex-start);
                    .radio-box {
                        position : absolute;
                        right : 0;
                    }
                    &.selected {
                        border : 0;
                        border-bottom : 1px solid #DBDCDC;
                    }
                }
            }
        }
        .pay-w-ct {
            display : none;
        }
        .pay-submit {
            display : block;
            padding-top : 50px; 
            padding-bottom : 20px;
            .act-box {
                width : 100%;
                text-align : center;
                .act {
                    border : 0;
                    font-size: 16px;
                    line-height: 50px;
                    width : 300px;
                    height: 50px;
                    background-color: #121313;
                    text-align: center;
                    border-radius: 2px;
                    color : #fff;
                }
            }
        }
    }

}

.m-pop {
    background-color: #fff;
    font-size: 16px;
    &-bd {
        width: 446px;
        .content {
            padding: 0 22px 25px 22px;
            color: #333;
            padding-bottom: 0;
            font-size: 16px;
            line-height: 1.5em;
            text-align: center;
            word-wrap: break-word;
            word-break: break-all;
        }
        .title {
            background: #f7f8fc;
            color: #777;
            line-height: 55px;
            padding: 0 22px;
        }
    }

    .m-pop-ft {
        text-align : center;
        padding: 26px 0;
        .ok {
            color: #fff;
            background-color: #007eff;
        }
        .cancel {
            color: #999999;
            background-color: #f1f4f9;
        }
    }
}
.m-pop-confirm {

    .content {
        padding-top: 30px;
        text-align: center;
        color: #333;
        line-height: 20px;
        text-align: center;
        margin-bottom: 16px;

    }
    .info {
        font-size: 14px;
        line-height: 16px;
        color: #999;
        text-align: center;
    }
}


.btn {
    display:inline-block;
    font-size: 14px;
    width: 166px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius : 30px;
    border: 0;
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
}

.btn-blue {
    background: #007eff;
    color: #fff;
}

.up-btn{
    margin-bottom:26px;
}
.down-btn p{
    color:#007eff;
    cursor:pointer;
    .icon {
        width: 16px;
        height: 13px;
    }
}
