@import "../libs/func.scss";

.footer {
    margin-top : 50px;
    padding-bottom : 100px;

    @include phone {
        padding-bottom : 0.44rem;
    }
    .fnav {
        overflow : hidden;
        text-align : center;
        li {
            display : inline-block;
            font-size : 18px;
            height : 22px;
            @include phone {
                display : block;
            }
        } 
        .gp {
            display : inline-block;
            width : 35px;
            height : 2px;
            background-color : #121313;
            margin : 10px 5px;

        }
    }
    .cmp {
        margin : 20px auto 0;
        
        text-align : center;
        color : #888;
        font-size : 12px;
        @include phone {
            width : 2.47rem;
        }
    }
}
