@import '../styles/libs/reset.scss';
@import '../styles/libs/swiper.scss';
@import '../styles/mods/header.scss';
@import '../styles/mods/main.scss';
@import '../styles/mods/footer.scss';

@import "../styles/libs/flex.scss";
@import "../styles/libs/media-queries.scss";
@import "../styles/libs/func.scss";
@import "../styles/libs/config.scss";


.main {
    width : 100%;
    position : relative;
    .main-bg {
        position : absolute;
        top : 1rem;
        left : 0;
        /* Rectangle 503: */
        width : 70%;
        height : 400px;
        background-image: linear-gradient(-180deg, #FFFFFF 0%, #F4F4F4 100%);
    }
    @include phone {
        .main-bg {
            display : none;
        }
    }
    .down-panel {
        position : relative;
        z-index : 10;
        margin : 30px auto 0;
        overflow : hidden;
        width : 6.4rem;
        @include phone {
            width : 100%;
        }
        .ct {
            float:right;
            width : 50%;
            @include phone {
                width : 100%;
            }
        }
        .img-box {
            float : left;
            width : 50%;
            @include phone {
                width : 100%;
            }
            .img {
                width : 3.2rem;
                img { width : 100%;}
            }
        }

        .ct {
            
            .tit {
                font-size : 24px;
                font-weight : normal;
                text-align : center;
            }
            .txt {
                color : #262626;
                text-align : center;
                margin-top : 14px;
            }
            .i {
                width : 15px;
                height : 15px;
                display : inline-block;
                vertical-align : -2px;
                margin-right : 5px;
            }
            .apple {
                background : url("#{$img_host}/apple@2x.png") no-repeat 0 0;
                width : 13px;
                background-size : 100%;
            }
            .android {
                background : url("#{$img_host}/android@2x.png") no-repeat 0 0;
                width : 13px;
                background-size : 100%;
            }
            .hhl {
                background-color :#57FFD1;
                width : 50px;
                height : 3px;
                margin : 10px auto 0;
            }
            .plat {
                overflow : hidden;
                width : 240px;
                height : 18px;
                line-height : 18px;
                margin : 20px auto 0;
                li {
                    width : 50%;
                    float : left;
                    font-size : 12px;
                    color : #888;
                }
            }
            .download {
                color : #fff;
                display : block;
                font-size : 16px;
                background: #121313;
                box-shadow: 0px 6px 20px 0px rgba(255,255,255,0.60);
                border-radius: 2px;
                width : 200px;
                height : 50px;
                line-height : 50px;
                margin : 20px auto 0;
                text-align : center;
            }

            .normal {
                padding-top : 120px;
                &-ct {
                    padding-left : 40px;
                }
                .tit {
                    text-align : left;
                }
                .hhl {
                    margin-left : 0;
                }
                .txt {
                    text-align : left;
                }
                .plat {
                    margin-left : 0;
                }
                .download {
                    margin-left : 0;
                }
                .code {
                    width: 100px;
                    height : 100px;
                    margin-top : 20px;
                    border : 1px solid #ccc;
                    img {
                        width : 100%;
                        height : 100%;
                    }
                }
            }
        }
        .phone {
            display : none;
        }
        .normal {
            display : block;
        }

        @include phone {
            display : block;
            .ct , .img-box {
                float : none;
            }
            .phone {
                display : block;
            }
            .normal {
                display : none;
            }
            .ct {
                margin-bottom : 24px;
                .tit {
                    line-height : 1em;
                    margin-top : 30px;
                }
                .hhl {
                    margin : 0 auto;
                    margin-top : 10px;
                }
            }
            .img-box {
                padding-bottom : 0.6rem;
            }
        }
    
    }
}


@include phone {
    .footer {
        display : none;
    }
}
