<div class="act-area-container">
<div class="act-area-box">
  <h3 class="tit">选择商圈</h3>
  <div class="areas">
    <ul class="js-ul">
    </ul>
  </div>  
  <div class="act-box">
    <div class="txt">最多选择不超过三个</div>
    <div class="">
      <button class="act">提交</button>
    </div>
    <div class="close js-close"><i></i></div>
  </div>  
</div>  
</div>
