<div class="m-pop m-pop-confirm">
  <div class="m-pop-bd ">
    <p class="title">温馨提示</p>
    <div class="pop-main">
        <p class="content">请在打开的页面完成支付</p>
        <p class="info">付款完成前，请不要关闭此窗口</p>
    </div>

  </div>
  <div class="m-pop-ft">
    <div class="up-btn">
        <button class="btn btn-blue js-ok">已完成支付</button>
    </div>
    <div class="down-btn">
        <p class="js-cancel">遇到问题联系客服 400-012-3131</p>
    </div>
  </div>
</div>

