<div class="gmaker">
    <div class="mlb-box">
        <div class="mlb-bg">
        </div>
        {@if url}
        <a href="${url}"><span class="mlb">${txt}</span></a>
        {@else}
        <span class="mlb">${txt}</span>
        {@/if}
    </div>
    <div class="mk"></div>
</div>
