<div class="m-pass-active">
    <div class="active js-active" >
        <div class='info'>
            <div class="inp">
                <input type="tel" class='inp-code' value="" placeholder='请输入AMILYPass激活码' maxlength=18>
                <div class="error-msg">
                     激活码不能为空
                </div>
            </div>
        </div>    
        <div class="btn-wrap">
            <button class='btn js-active'>激活</button>
        </div>
    </div>
    <div class="actived js-actived" style="display:none;">
        <div class="tit">
            激活成功
        </div>
        <div class="info">
            <p class="msg">您已经成为AMILYPass会员,有效期至<span class="js-validate hide">2016年12月10日</span></p>
        </div>
        <div class="btn-wrap">
            <button class='btn js-confirm'>确定</button>
        </div>
    </div>
</div>

