<div class="g-wx-attend">
      <a href="javascript:;" class="close">&times;</a>
    <div class="amy-intro">
        <div class="amy-logo">
            <img src="http://cc.amily.org/image/amy_h5/H5@2x.png" >
        </div>
        <div class="des">
            <p class="des-lb">${title}</p>
            <p class="des-ct">${info}</p>
        </div>
    </div>
    <a  href="${link}" class="down-btn">
        ${link_txt}
    </a>
</div>
