<div class="m-view card-view">
  <div class="card-nav">
    <!--#include file="nav.html" -->
  </div>  
  <div class="view-content">
    <div class="lf-ct">
      <div class="img-box">
        <div class="img"></div>
      </div>  
    </div>
    <div class="m-ct">
      <div class="info">
        <h1 class="tit"> 请选择卡片号码 </h1>
        <div class="hhl"></div>
        <div class="txt">
          请选择一个心仪的会籍号码
        </div>
      </div>  
      <div class="card-ct">
        <ul>
          <li class="card-no ng-class: {'selected' : item.selected }; "  ng-repeat="item in numbers" ng-model="item"  ng-click="selectCard()" >{{item.num}}</li>
        </ul>  
        <div class="act-box change">
          <button class="act ng-class: {'hide' : notShowChange}; " ng-click="changeCard($event)">换一批</button>
        </div>
      </div>
       <div class="info">
        <h1 class="tit"> 请输入名称 </h1>
        <div class="hhl"></div>
        <div class="txt">
          请输入自定义定制英文名称
        </div>
      </div>  
      <div class="name-box">
        <div class="name"> 
          <input type="text" class="inp" ng-model="username" ng-pattern="/^\w+$/" ng-required="true" placeholder="NAME"> 
        </div>
        <div class="img-box">
          <div class="img"></div>
        </div>  
        <div class="act-box">
          <button class="act act-use" ng-click="nextStep($event)">下一步</button>
        </div>

      </div>  
    </div> 
  </div>  
</div>
