<div class="m-view phone-view">
  <div class="phone-nav">
    <!--#include file="nav.html" -->
  </div>  
  <div class="view-content">
    <div class="info">
      <h1 class="tit"> 填写手机号 </h1>
      <div class="hhl"></div>
      <div class="txt">
        你的手机号码即为你的会员帐号<br/>
        并用于接受安全验证信息，请谨慎填写
      </div>
    </div>  
    <div class="phone-ct">
      <div class="pn-box"> 
        <input type="tel" class="inp" 
        ng-model="phone"  
        ng-required="true"  
        ng-pattern="/^(13|15|17|18|14)\d{9}$/"  >
        <button class="send-code {{sendStatus}}"  ng-click="sendCode($event)">{{codeText}}</div>
      </div>
      <div class="code-box"> 
          <input type="tel" ng-model="code"  ng-required="true"  placeholder="输入验证码" class="inp"> 
      </div>
      <div class="act-box">
        <button class="act" ng-click="startLogin($event)">开始申请</button>
      </div>
    </div>
  </div>  
</div>
